.gallery {
  .sticky-div {
    position: sticky;
    top: 0;
    z-index: 20;
    background-color: #fff9;
    padding: 20px 0;
  }

  .tabs-section {
    background-color: #f1f1f1!important;
    border-radius: 30px;
    display: inline-block;
    overflow: hidden;
    border: 2px solid #f1f1f1;

    .btn {
      background-color: transparent;
      padding: 15px 30px;
      border-radius: 30px;
      font-weight: 600;
      letter-spacing: 1px;
      color: #80868b;
      outline: none!important;
      box-shadow: none!important;
    }
  }

  h3 {
    font-weight: 600;
    letter-spacing: 1px;
    color: #3c4043;
    margin-bottom: 30px;
    margin-top: 50px;

    span {
      padding-bottom: 10px;
      border-bottom: 2px solid;
    }
  }

  img {
    height: 320px;
    width: 90%;
    object-fit: cover;
    border-radius: 6px;
    margin-bottom: 40px;
    box-shadow: 0 30px 15px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
}

.modal {
  background-color: #0007!important;

  .modal-content {
    background-color: #fefeff;
    border-radius: 20px;
  }

  .modal-header {
    border-bottom: none!important;
    padding: 10px 16px 0 0;

    span {
      cursor: pointer;
    }
  }

  h5 {
    font-weight: 600;
    color: #3c4043;
    text-align: center!important;

    span {
      font-size: 0.95rem!important;
      color: #80868b;
    }
  }

  .modal-footer {
    border-top: none!important;
  }

  .modal-body {
    padding-left: 5vw;
  }

  .content {
    padding-top: 5vh;

    span {
      color: #80868b;
      font-weight: 600;

      i {
        margin-right: 10px;
        font-size: 1.2rem;
      }
    }

    .social {
      margin-top: 30px;

      h6 {
        color: #5f6063;
        font-weight: 600;
        font-size: 0.95rem;
      }

      p {
        color: #80868b;
        font-size: 0.9rem;
      }

      a {
        color: #80868b;
        .fab {
          font-size: 2.5rem;
          margin-right: 20px;
          cursor: pointer;
        }
      }
    }
  }

  img {
    height: 400px;
    width: auto;
    max-width: 90%;
    object-fit: contain;
    background-color: transparent!important;
    user-drag: none!important;
    user-select: none!important;
    -moz-user-select: none!important;
    -webkit-user-drag: none!important;
    -webkit-user-select: none!important;
    -ms-user-select: none!important;
  }
}

.active-tab {
  background-color: #fff!important;
  color: #3c4043!important;
  transition: all 0.2s linear;
}
@media (max-width:770px) {
  .sticky-div {
    background-color: transparent!important;
  }

  .tabs-section {
    // width: 100vw!important;
    .btn {
      padding: 5px 30px!important;
    }
  }

  .col-6 {
    padding: 0 10px!important;
  }

  img {
    height: auto!important;
    min-height: 320px!important;
    width: 100%!important;
    max-width: 100%!important;
  }
}
