.gallery {
  .sticky-div {
    position: sticky;
    top: 0;
    z-index: 20;
    background-color: #fff9;
    padding: 20px 0;
  }

  .tabs-section {
    background-color: #f1f1f1!important;
    border-radius: 30px;
    display: inline-block;
    overflow: hidden;
    border: 2px solid #f1f1f1;

    .btn {
      background-color: transparent;
      padding: 15px 30px;
      border-radius: 30px;
      font-weight: 600;
      letter-spacing: 1px;
      color: #80868b;
      outline: none!important;
      box-shadow: none!important;
    }
  }

  h3 {
    font-weight: 600;
    letter-spacing: 1px;
    color: #3c4043;
    margin-bottom: 30px;
    margin-top: 50px;

    span {
      padding-bottom: 10px;
      border-bottom: 2px solid;
    }
  }

  img {
    height: 320px;
    width: 90%;
    object-fit: cover;
    border-radius: 6px;
    margin-bottom: 40px;
    box-shadow: 0 30px 15px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
}

.modal {
  img {
    height: 400px;
    width: auto;
    object-fit: contain;
  }
}

.active-tab {
  background-color: #fff!important;
  color: #3c4043!important;
  transition: all 0.2s linear;
}
@media (max-width:770px) {
  .sticky-div {
    background-color: transparent!important;
  }

  .tabs-section {
    // width: 100vw!important;
    .btn {
      padding: 5px 30px!important;
    }
  }

  .col-6 {
    padding: 0 10px!important;
  }

  img {
    height: 320px;
    width: 100%!important;
  }
}
